{% extends 'base/base.html' %}

{% block template_name %}
<div class="text-center w-100">
    <h2>Restablecer Contraseña</h2>
</div>
{% endblock %}

{% block side_bar %}
    
{% endblock %}

{% block content %}


  <div class="row text-center mt-5">
    <div class="col col-md-12 col-xl-12">
        <form method="post" action="">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary">Restablecer Contraseña</button>
        </form>
    </div>
  </div>
{% endblock %}

