{% extends 'base/base.html' %}

{% block template_name %}
<div class="text-center w-100">
    <h2>Contraseña Restablecida</h2>
</div>
{% endblock %}

{% block side_bar %}
    
{% endblock %}



{% block content %}
<div class="container">
    <div class="row text-center">
        <div class="col col-md-12 col-xl-12">
            <img src="/static/base/img/logo-gavidia.png" alt="logo" class="my-5 mx-auto img-fluid" width="250px">
            <p>
                Se ha enviado un correo para restablecer la contraseña.
            </p>
        </div>
    </div>
</div>


{% endblock %}

