{% extends 'base/base.html' %}

{% block template_name %}
<div class="text-center w-100">
    <h2>Gestión de usuarios activos</h2>
</div>

{% endblock %}


{% block content %}
<div class="container mt-5">

  <table class="table table-striped mt-5">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        <th>Rol</th>
        <th>Status</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
    
      {% for user in users %}
        
        {% if user.is_active %}
          <tr>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.role.name }}</td>
            {% if user.is_active %}
            <td>Activo</td>
    
            {% else %}
            <th>Inactivo</th>
            {% endif %}
            <td>
              <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#editarUsuario{{ user.id }}">
                <i class="fa-solid fa-pen-to-square"></i>
              </button>
              <!-- boton eliminar usuario -->
              <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#eliminarUsuario{{ user.id }}">
                <i class="fa-solid fa-trash"></i>
              </button>
          </tr>
        {% endif %}

      {% endfor %}
      
    </tbody>
  </table>
</div>

<!-- Modal editar usuario -->
{% for user in users %}
<div class="modal fade" id="editarUsuario{{ user.id }}" tabindex="-1" aria-labelledby="editarUsuario{{ user.id }}" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h1 class="modal-title fs-5" id="editarUsuario{{ user.id }}">Editar usuario</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form action="{% url 'roles:user_update' pk=user.id %}" method="post">
                  {% csrf_token %}
                  <div class="row mt-4">
                      <div class="col col-xl-6">
                        <label for="first_name">Nombres : </label>
                        <input type="text" class="form-control" id="first_name" name="first_name" value="{{user.first_name}}">
                      </div>
                      <div class="col col-xl-6">
                        <label for="last_name">Apellidos : </label>
                        <input type="text" class="form-control" id="last_name" name="last_name" value="{{user.last_name}}">
                      </div>
                  </div>
                  <div class="row mt-4">
                      <div class="col col-xl-6">
                        <label for="email">Email : </label>
                        <input type="text" class="form-control" id="email" name="email" value="{{user.email}}">
                      </div>
                      <div class="col col-xl-6">
                        <label for="role">Rol : </label>
                        <select class="form-control" id="role" name="role">
                          {% for role in roles %}
                              <option value="{{ role.id }}" {% if role.id == user.role.id %}selected{% endif %}>{{ role.name }}</option>
                          {% endfor %}
                      </select>
                      </div>
                  </div>
                  <div class="modal-footer mt-4">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                      <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>
{% endfor %}

<!-- modal eliminar usuario -->
{% for user in users %}
<div class="modal fade" id="eliminarUsuario{{ user.id }}" tabindex="-1" aria-labelledby="eliminarUsuario{{ user.id }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="eliminarUsuario{{ user.id }}">Eliminar usuario</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro que desea eliminar a {{user.first_name}} {{user.last_name}}?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger">Eliminar</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}




{% endblock %}

{% block js_page %}
<script>
    // datatable
    $(document).ready(function () {
        $('.table').DataTable({
            language: {
                url: '//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json'
            },
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ],
            responsive: true,
            searching: true,
        });
    })
</script>

{% endblock js_page %}