{% extends 'base/base.html' %}

{% block template_name %}
<div class="text-center w-100">
    <h2>Calendario de Citas</h2>
    
</div>
{% endblock %}

{% block content %}

<div class="container mx-auto my-auto">
  <div id='calendar'></div>
</div>


<!-- modal para agendar una cita -->
<div class="modal fade" id="citaModal" tabindex="-1" aria-labelledby="citaModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="citaModal">Agendar Cita</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <form action="{% url 'roles:create_cita' %}" method="post">
            {% csrf_token %}
            <div class="row">
              <!-- paciente -->
              <div class="col-12">
                <label for="paciente">Paciente: </label>
                <select class="select-js-gavidia w-100" name="paciente" id="pacienteSelect" multiple required>
                    {% for paciente in pacientes %}
                        <option value="{{paciente.id}}">{{paciente.large_name}}</option>
                    {% endfor %}
                </select>
              </div>
              <!-- doctor -->
              <div class="col-12">
                <label for="doctor">Doctor: </label>
                <select class="select-js-gavidia w-100" name="doctor" id="doctorSelect" multiple required>
                    {% for user in users %}
                        <option value="{{user.id}}">{{user.first_name}} {{user.last_name}}</option>
                    {% endfor %}
                </select>
              </div>
              <!-- description -->
              <div class="col-12">
                <label for="doctor">Descripción : </label>
                <textarea class="form-control" name="description" id="description" cols="10" rows="3"></textarea>
              </div>
              <!-- date -->
              <div class="col-12">
                <label for="doctor">Fecha : </label>
                <input type="date" class="form-control" name="dates_date" id="dates_date" required hidden>
              </div>


              <!-- date time -->
              <div class="col-12">
                <label for="doctor">hora : </label>
                <input type="text" class="form-control" name="horaCita" id="horaCita" required>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="cerrarModalBtn">Cerrar</button>
              <button type="submit" id="guardarCitaBtn" class="btn btn-primary">Guardar cita</button>
            </div>
        </form>
        </div>
      </div>
    </div>
</div>


{{ citas | json_script:"citas" }}

{% endblock %}

{% block js_page %}

{% endblock %}


